html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.table{
display: flex;
flex-direction: row;
justify-content: space-between;
}

 .slider-container {
            width: 300px;
            margin: 0 auto;
            text-align: center;
        }

        .slider {
            width: 100%;
        }

        .card {
            transition: filter 0.3s ease-in-out;
        }

        .highlighted-card {
            filter: none;
 transform: scale(1);
        }

        .blurred-card {
            filter: blur(5px);
          
        }